body {
  background-color: black;
  font-family: monospace;
  color: white;
}

h1 {
  user-select: none;
}

div.list {
  display: none;
}

div.multi {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
div.multi > div.row {
  flex: auto;
}

li {
  font-size: 14px;
}
li.big {
  font-size: 16px;
  font-weight: bold;
}

span {
  text-decoration: underline;
  font-weight: bold;
}
span.item {
  color: orange;
}
span.hunt {
  color: #6bff70;
}
span.rare {
  color: red;
}

table, th, td {
  border: 2px solid grey;
  border-collapse: collapse;
}

#dustia {
  width: auto;
  margin: 0 0 0 10px;
}
#dustia th {
  padding: 5px 3px 5px 3px;
}
#dustia td {
  text-align: right;
}
